<div class=" col-lg-3 col-md-4 col-6 p-1 d-flex align-content-stretch">
  <div class="card shadow-sm border-0" >
    <div class="card-body">
      <h5 class="card-title">Can speak english.</h5>
    </div>
  </div>
</div>
<div class=" col-lg-3 col-md-4 col-6 p-1 d-flex align-content-stretch">
  <div class="card shadow-sm border-0" >
    <div class="card-body">
      <h5 class="card-title">Can write a letter.</h5>
    </div>
  </div>
</div>
<div class=" col-lg-3 col-md-4 col-6 p-1 d-flex align-content-stretch">
  <div class="card shadow-sm border-0" >
    <div class="card-body">
      <h5 class="card-title disabled">Can book a guest room.</h5>
    </div>
  </div>
</div>
<div class=" col-lg-3 col-md-4 col-6 p-1 d-flex align-content-stretch">
  <div class="card shadow-sm border-0" >
    <div class="card-body">
      <h5 class="card-title">Can guide me on a Local (inside Pakistan) Tour.</h5>
    </div>
  </div>
</div>
<div class=" col-lg-3 col-md-4 col-6 p-1 d-flex align-content-stretch">
  <div class="card shadow-sm border-0" >
    <div class="card-body">
      <h5 class="card-title">Can guide me on a Foreign Tour.</h5>
    </div>
  </div>
</div>
<div class=" col-lg-3 col-md-4 col-6 p-1 d-flex align-content-stretch">
  <div class="card shadow-sm border-0" >
    <div class="card-body">
      <h5 class="card-title">Can Physically Fight for me with some gundas.</h5>
    </div>
  </div>
</div>
<div class=" col-lg-3 col-md-4 col-6 p-1 d-flex align-content-stretch">
  <div class="card shadow-sm border-0" >
    <div class="card-body">
      <h5 class="card-title">Can Import or Export Stuff from Pakistan / abroad.</h5>
    </div>
  </div>
</div>
<div class=" col-lg-3 col-md-4 col-6 p-1 d-flex align-content-stretch">
  <div class="card shadow-sm border-0" >
    <div class="card-body">
      <h5 class="card-title">Can Lend me a Credit Card. (He will not give you credit card details but will help you make transaction)</h5>
    </div>
  </div>
</div>
<div class=" col-lg-3 col-md-4 col-6 p-1 d-flex align-content-stretch">
  <div class="card shadow-sm border-0" >
    <div class="card-body">
      <h5 class="card-title">Can arrange a Power Point Presentation.</h5>
    </div>
  </div>
</div>
<div class=" col-lg-3 col-md-4 col-6 p-1 d-flex align-content-stretch">
  <div class="card shadow-sm border-0" >
    <div class="card-body">
      <h5 class="card-title">Can Do Crypto Currency.</h5>
    </div>
  </div>
</div>
<div class=" col-lg-3 col-md-4 col-6 p-1 d-flex align-content-stretch">
  <div class="card shadow-sm border-0" >
    <div class="card-body">
      <h5 class="card-title">Can prescribe me a medicine.</h5>
    </div>
  </div>
</div>
<div class=" col-lg-3 col-md-4 col-6 p-1 d-flex align-content-stretch">
  <div class="card shadow-sm border-0" >
    <div class="card-body">
      <h5 class="card-title">Can Listen to me.</h5>
    </div>
  </div>
</div>
