<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="main.css">

  <title>Sign Up - Help!</title>
</head>

<body class="bg-primary">

  <div id="mainBlock" class="d-md-flex mt-md-0 mt-3 align-items-center justify-content-center">
      <div class="col-md-6 col-12">
          <form id="form" action="checkMobile" method="post">

            <div class="bg-light py-2 px-4 rounded shadow">
              <p class="lead">Please write your name and phone number to proceed to making <b>willingness</b></p>
              <hr class="col-6">
            <div class="form-group">
              <label for="name">Your name</label>
              <input type="text" class="form-control" id="name" aria-describedby="name" placeholder="Qasim" required>
            </div>
            <div class="form-group">
              <label for="phone">Your phone number</label>
              <input type="text" class="form-control" id="phone" placeholder="+923235168639" required>
            </div>
            <button id="verifyButton" class="btn btn-primary" type="button" name="button">Verify (in my contacts list)</button>
              <p id="error-text" class="my-2 text-danger"></p>
            <div class="d-none" id="phoneVerify">
              <hr class="col-6">
              <span class="badge badge-success mb-2">Welcome, your phone is in my contact list.</span>

              <div class="form-group">
                <label for="code">I need a moment to verify your mobile number. You will shortly recieve a 4 digit code on your phone, please enter that here to proceed further.</label>
                <input type="text" class="form-control" id="code" placeholder="****" required>
              </div>
              <button id="resendButton" class="btn btn-primary mb-1" type="button" name="button">Resend Code</button>
              <div class="">
                <span id="codeVerified" class="d-none badge badge-success">Code Verified, please click Continue below.</span>
              </div>


            </div>
            </div>
            <div class="text-center">
                <a href="/" class="btn btn-outline-light my-2 shadow">Back</a>
                <button id="continueButton" disabled type="button" class="btn btn-light my-2 shadow">Continue</button>
            </div>

          </form>

      </div>
  </div>



  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script type="text/javascript">
    wht = $(window).height();
    $('#mainBlock').height(wht);

    $(document).on('click','#verifyButton',() => {
      if ($('#name').val() == '' || $('#phone').val() == '') {
        $('#error-text').html('Please enter your name and phone number in the fields above.');
        return console.log('name or phone not entered');
      }
      var data = {
        name: $('#name').val(),
        phone: $('#phone').val()
      };
      data = encodeURIComponent(JSON.stringify(data));

      $.post(`/check/${data}`)
        .done(function(msg){
          console.log(msg);
          $('#verifyButton').attr('disabled','disabled');
          $('#error-text').html('');
          $('#name').val(msg.name).attr('disabled','disabled');
          $('#phone').val(msg.phone).attr('disabled','disabled');
          $('#phoneVerify').removeClass('d-none');
          $('#continueButton').data('token',msg.tokens[0].token);
        })
        .fail(function(xhr, status, error) {
          if (error === 'Conflict') {
            return $('#error-text').html('A user with these credentials is already added. Please contact me if you want to change your registered number. Or you can go back to "Log In".');
          }
          $('#error-text').html('I am really sorry! Your phone number and name is not saved in my contacts. Please text me your details, I will update it and let you know.');
        });
    });

    $(document).on('click','#continueButton',() => {
      var token = $('#continueButton').data('token');
      window.location = window.location.origin + `/signup/${token}`;
    });

    $(document).on('paste','input',(e) => {
      e.preventDefault();
    })

    $(document).on('keyup','#code',function() {
      val = $(this).val();
      if (val.length < 4) return;
      var data = {
        token: $('#continueButton').data('token'),
        val,
      };
      data = encodeURIComponent(JSON.stringify(data));

      $.get(`/checkCode/${data}`)
        .done((msg) => {
          $('#continueButton').removeAttr('disabled');
          $('#codeVerified').removeClass('d-none');
          $('#phone').val(msg.phone).attr('disabled','disabled');
          $('#code').attr('disabled','disabled');
          $('#resendButton').addClass('d-none');
        })
        .fail((xhr,status,error) => {
          console.log(error);
        });

    })

    $(document).on('click','#resendButton',() => {
      var token = $('#continueButton').data('token');
      $.post(`/checkResendCode/${token}`)
        .done((msg) => {
          console.log(msg);
        })
        .fail((xhr,status,error) => {
          console.log(error);
        });
    })

  </script>
</body>

</html>
