<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="main.css">

  <title>Welcome - help!</title>
</head>

<body class="bg-info">

  <div id="mainBlock" class="d-md-flex mt-md-0 mt-3 align-items-center justify-content-center">
      <div class="container">
        <div class="bg-light py-2 px-4 rounded shadow">
          <h1 >Hi.. Assalam o Alaikum, </h1>
          <p class="lead pt-2">
            We occasionally ask friends for help on facebook and whatsapp. During the time of need, in chaos, we flood social media un-necessarily. It becomes embarrasing at times. I believe if we have a forum to give our willingness to help, friends in need can easily approach the willing person and get his problem solved with out flooding social media. <b>And without getting embarrassed.</b>

            <br>All you have to do is spare next <b>3 minutes</b> to fill a form and submit willingness in your areas of choice. It will be completely hidden and only I will be able to see it. Any body in trouble can raise a flag to seek help and we can help him.
          </p>
          <p>
            <b>Note.</b> At the moment, friends from my phone contact list can be a part of it. If your phone number is not added in my contacts list, please text me your mobile number.
          </p>
        </div>
        <div class="text-center">
          <a href="/login" class="btn btn-outline-light my-2 shadow">Continue</a>
        </div>
      </div>
  </div>



  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script type="text/javascript">
    wht = $(window).height();
    $('#mainBlock').height(wht);
  </script>
</body>

</html>
