<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/main.css">
  <link rel="stylesheet" href="/customstyle.css">
  <style media="screen">

    /* border-left: 4px dotted #0e93cc; */
    /* background: rgb(15, 147, 204); */


    /* $color1: rgba(91, 192, 235, 1);
    $color2: rgba(253, 231, 76, 1);
    $color3: rgba(155, 197, 61, 1);
    $color4: rgba(229, 89, 52, 1);
    $color5: rgba(250, 121, 33, 1); */

    .btn-submit {
      background: rgb(15, 147, 204);
      color: white;
    }

    textarea {
      outline: 0px none transparent;
      height: 100%;
      border: none;
      width: 100%;
padding: 1rem;
      font-size: 400%;
      font-weight: bold;
      z-index: 0;
      background: none;
      resize: none;
    }

    .overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      font-weight: bold;
      opacity: 0.6;
      padding: 2rem;
      pointer-events: none;
      z-index: -10;
    }

    textarea:focus{
        outline: 0;
    }

    *:focus {
      outline: 0;
    }

    .t-general {
      padding: 1rem;
    }

    .counter {
      font-weight: 900;
      font-size: 300%;
    }

    .button-press {
      background: white;
      position: absolute;
      right: 2rem;
      color: cornflowerblue;
      bottom: 1rem;
      cursor: pointer;
    }

    .button-press:hover {
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05) !important;
    }

    .btn-query {
      font-size: 150%;
      font-weight: bold;
      color: cornflowerblue;
      margin-top: -1rem;
      margin-bottom: 6px;
      padding: 6px 12px;
    }

    .button-press small {
      margin-top: -1rem;
    }

    .custom-container {
      max-width: 1200px;
      margin: auto;
    }

  </style>

  <title>Welcome - help!</title>
</head>

<body class="bg-light">

    <div class="custom-container position-relative">



      <style media="screen">

        .custom-modal {
          position: fixed;
          width: 100vw;
          height: 100vh;
          z-index: 20;
        }

        .d-grid {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: auto;
        }

        label {

        }

        .custom-input {
          background: none;
          padding: 1rem 2rem;
          font-weight: bold;
          font-size: 150%;
          border-radius: 3px;
          border: none;
        }
      </style>

      <div class="custom-modal bg-light d-flex flex-column align-items-center justify-content-center">

        <input class="custom-input" type="text" name="" value="Qasim">

        <input class="custom-input" type="text" name="" value="">
        <input class="custom-input" type="text" name="" value="">

        <button class="btn-custom-submit shadow" type="button" name="button">Pay 5 USD</button>

      </div>



  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script type="text/javascript">
    wht = $(window).height();
    $('#mainBlock').height(wht);

  </script>
</body>

</html>
