<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/main.css">

  <title>Sign Up - Help!</title>
</head>

<body class="bg-primary">

  <div id="mainBlock" class="d-md-flex mt-md-0 mt-3 align-items-center justify-content-center">
      <div class="col-md-6 col-12">
        <div class="bg-light py-2 px-4 rounded shadow">
          <p class="lead">Welcome sir {{name}} to making - <b>willingness</b></p>
          <hr class="col-6">
          <form>
            <div class="form-group">
              <label for="password">Create your password (don't forget it please)</label>
              <input type="text" class="necessary form-control" id="password" placeholder="Anything you don't forget easily.">
            </div>
            <div class="form-group">
              <label for="withMeAt">We were together at</label>
              <input type="text" class="necessary form-control" id="withMeAt" placeholder="Superior Science College Muzaffar Garh">
            </div>
            <div class="form-group">
              <label for="memorableOccasionWithMe">Any memorable event we had (<b>optional</b>)</label>
              <input type="text" class="form-control" id="memorableOccasionWithMe" placeholder="We travelled on train brasta DI Khan and it was fuss.">
            </div>
            <div class="form-group">
              <label for="currentAddress">What is your current address (I might want to send you a card some day...)</label>
              <input type="text" class="necessary form-control" id="currentAddress" placeholder="Milan, Italy">
            </div>
            <p id="error-text" class="my-2 text-danger"></p>
          </form>
        </div>
        <div class="text-center">
            <a href="/check" class="btn btn-outline-light my-2 shadow">Back</a>
            <button id="depositButton" type="button" class="btn btn-light my-2 shadow">Final Step ahead -></button>
        </div>
      </div>
  </div>



  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script type="text/javascript">
    wht = $(window).height();
    $('#mainBlock').height(wht);
    var formValidate = Boolean;
    $(document).on('click','#depositButton',() => {
      formValidate = true;
      $('.necessary').each((index,elem) => {
        if( $(elem).val() === '') {
          $(elem).addClass('border border-danger');
          formValidate = false;
        } else {
          $(elem).removeClass('border border-danger');
        }
      })
      if (!formValidate) return $('#error-text').html('Please fill highlighted fields above');
      $('#error-text').html('');

      var token = window.location.pathname.split('/')[2];

      var data = {
        'token': token,
        'password': $('#password').val(),
        'withMeAt': $('#withMeAt').val(),
        'memorableOccasionWithMe': $('#memorableOccasionWithMe').val(),
        'currentAddress': $('#currentAddress').val(),
      };

      data = encodeURIComponent(JSON.stringify(data));

      $.post(`/signupData/${data}`)
        .done(function(msg){
          console.log(msg);
          window.location = window.location.origin + `/willingness/${token}`;
        })
        .fail(function(xhr, status, error) {
          if (error === 'Conflict') {
            return $('#error-text').html('A user with these credentials is already added. Please contact me if you want to change your registered number. Or you can go back to "Log In".');
          }
          $('#error-text').html('I am really sorry! Your phone number and name is not saved in my contacts. Please text me your details, I will update it and let you know.');
        });
    });

  </script>
</body>

</html>
